.p-formfield {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &.column {
        flex-direction: column;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }
}
