.p-message {

    .p-message-content {
        margin: 0;
        padding: 0;

        .p-message-text {
            font-weight: 400;
            font-size: 20px;
            color: rgba(43, 42, 41, 1);
        }
    }

    &.p-message-outlined {
        display: flex;
        gap: 10px;
        border-radius: 15px;
        padding: 20px;
        outline-width: 0;
        background: rgba(252, 228, 222, 1);
    }

    &.p-message-simple {
        &.p-message-error {
            .p-message-text {
                color: rgba(255, 54, 60, 1);
            }
        }
    }
}
