.p-password {
    &.error, &.p-invalid {
        .p-inputtext {
            color: rgba(255, 54, 60, 1);
            border: 1px solid rgba(255, 54, 60, 1);
        }
    }

    &.auth {
        .p-inputtext {
            background: rgba(248, 248, 248, 1);
            border: 1px solid rgba(240, 240, 240, 1);
        }
    }
}
