.p-rating {
    border-radius: 15px;
    padding: 5px;
    background: rgba(255, 255, 255, 1);

    .p-rating-option {
        position: relative;
        width: 20px;
        height: 20px;

        i {
            font-size: 20px;
            color: rgba(255, 187, 0, 1);
        }

        &.p-rating-option-active {
            font-variation-settings: 'FILL' 1;
        }
    }
}
