.p-textarea {
    display: flex;
    padding: 16px 20px;
    gap: 10px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    border: 1px solid rgba(213, 213, 213, 1);
    color: rgba(43, 42, 41, 1);
    resize: none;

    &.error, &.p-invalid {
        color: rgba(255, 54, 60, 1);
        border: 1px solid rgba(255, 54, 60, 1);
    }

    &.grey {
        background: rgba(248, 248, 248, 1);
        border: 1px solid rgba(248, 248, 248, 1);
    }
}
